<!-- Footer -->
<section class="footer-area">
    <div class="bg-color2">
      <div class="container">
        <div class="row">
          <!--Start single footer widget-->
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="single-footer-widget">
              <div class="logo-img pb-3">
                <!-- <img src="static/images/logo-2.png" width="150px" alt=""> -->
                <img src="../static/images/logo-2.png" width="150px" alt="">
              </div>
              <div>
                <p class="heading-v1">
                  Nothing we do is more important than hiring and developing people. At the end of the day, you bet on
                  people, not on stratgies.
                </p>
              </div>
            </div>
          </div>
          <!--Start single footer widget-->
          <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="single-footer-widget">
              <div>
                <h3 class="head-title">COMPANY</h3>
              </div>
              <ul class="office-address">
                <li>
                  <a href="" class="add">Home</a>
                </li>
                <li>
                  <a href="{% url 'login' %}" class="add">Company</a>
                </li>
                <li>
                  <a href="{% url 'slogin' %}" class="add">Student</a>
                </li>

                <li>
                  <a href="{% url 'flogin' %}" class="add">Faculty</a>
                </li>
                <li>
                  <a href="{% url 'contact' %}" class="add">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <!--Start single footer widget-->
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="single-footer-widget">
              <div>
                <h3 class="head-title">Available Job Opportunities</h3>
              </div>
              <ul class="office-address">
                <li class="list-style-icon">
                  <div class="add">
                    <h5 class="font-size-16 text-light ">Computer Science</h5>
                  </div>
                </li>
                <li class="list-style-icon">
                  <div class="add">
                    <h5 class="font-size-16 text-light ">Information Technology</h5>
                  </div>
                </li>
                <li class="list-style-icon">
                  <div class="add">
                    <h5 class="font-size-16 text-light ">Mechanical Engineering</h5>
                  </div>
                </li>
                <li class="list-style-icon">
                  <div class="add">
                    <h5 class="font-size-16 text-light ">Electronics & Communications</h5>
                  </div>
                </li>
                <li class="list-style-icon">
                  <div class="add">
                    <h5 class="font-size-16 text-light ">Auto Mobile Engineering</h5>
                  </div>
                </li>
                <li class="list-style-icon">
                  <div class="add">
                    <h5 class="font-size-16 text-light ">Civil Engineering</h5>
                  </div>
                </li>
                <li class="list-style-icon">
                  <div class="add">
                    <h5 class="font-size-16 text-light ">Electrical Engineering</h5>
                  </div>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>