{% extends 'base.html' %}
{% block content %}

<!----Profile Details -->
<section class="applied-job-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-10 mx-auto">
            <div class="applied-sec">
               <div class="border-apply pb-2">
           <h2 class="font-size-20 font-weight-bold txt-blue mt-2">Applied Job </h2>
               </div>
               <div class="pt-3">
                   <div class="company-detail d-flex">
                     <h6 class="font-size-20 txt-blue">Company Name :</h6>
                     <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">OCSS</h6>
                   </div>
                   <div class="company-detail d-flex mt-3">
                     <h6 class="font-size-20 txt-blue">Category :</h6>
                     <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">IT</h6>
                   </div>
                   <div class="company-detail d-flex mt-3">
                     <h6 class="font-size-20 txt-blue">Role :</h6>
                     <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">Programmer</h6>
                   </div>
                   <div class="company-detail d-flex mt-3">
                     <h6 class="font-size-20 txt-blue">Required Skill :</h6>
                     <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">.net</h6>
                   </div>
                   <div class="company-detail d-flex mt-3">
                     <h6 class="font-size-20 txt-blue">Job Location :</h6>
                     <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">Ahmedabad</h6>
                   </div>
                   <div class="company-detail d-flex mt-3">
                     <h6 class="font-size-20 txt-blue">Salary :</h6>
                     <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">25000-30000</h6>
                   </div>
                 </div>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}