{% extends 'base.html' %}
{% block content %}

<!----Profile Details -->
<section class="profile-detail-sec">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-sm-10 col-lg-6 mx-auto">
          <div>
            <div class="company-detail d-flex">
              <h6 class="font-size-20 txt-blue">Company Name :</h6>
              <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">OCSS</h6>
            </div>
            <div class="company-detail d-flex mt-3">
              <h6 class="font-size-20 txt-blue">Address :</h6>
              <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">Gandhinagar</h6>
            </div>
            <div class="company-detail d-flex mt-3">
              <h6 class="font-size-20 txt-blue">Pincode :</h6>
              <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">500032</h6>
            </div>
            <div class="company-detail d-flex mt-3">
              <h6 class="font-size-20 txt-blue">Date :</h6>
              <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">05-03-2021</h6>
            </div>
            <div class="company-detail d-flex mt-3">
              <h6 class="font-size-20 txt-blue">Contact No :</h6>
              <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">9725819962</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}