{% extends 'base.html' %}
{% block content %}

<!----Profile Details -->
<section class="profile-detail-sec">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-sm-10 col-lg-6 mx-auto">
           <div>
             <div class="company-detail d-flex">
               <h6 class="font-size-20 txt-blue">Name :</h6>
               <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">OCSS</h6>
             </div>
             <div class="company-detail d-flex mt-2">
               <h6 class="font-size-20 txt-blue">Skills :</h6>
               <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">OCSS</h6>
             </div>
             <div class="company-detail d-flex mt-2">
               <h6 class="font-size-20 txt-blue">Category :</h6>
               <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">OCSS</h6>
             </div>
             <div class="company-detail d-flex mt-2">
               <h6 class="font-size-20 txt-blue">Qualification :</h6>
               <h6 class="font-size-20 txt-gray ml-3 font-weight-normal">OCSS</h6>
             </div>
           </div>
        </div>
      </div>
    </div>
   </section>

{% endblock %}